

.navbar-items{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
    width: 95%;
    height: 80px;
    border-radius: 13px;

    position: fixed;
    top: 2%;
    left: 50%;
    transform: translate(-50%);
    z-index: 9999

}

.navbar-icon{
    
    white-space: nowrap;
}

.navbar-icon i{
    padding-right: 10px;
}

.nav-menu{
    
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 10px;
    list-style: none;
    align-items: center;
}

.nav-menu a{
    color: black;
    text-decoration: none;
    font-family: monospace;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.7rem 1rem;
    white-space: nowrap;

}

.nav-menu a i {
    padding-right:  10px;

}

.nav-menu a:hover{
    border-radius: 10px;
    background-color: rgb(139, 139, 139);
    transition: all 0.1s ease-in-out;

}

.menu-icon{
    display: none;
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    .menu-icon{
        display: block;
    }
    
    .navbar-items{
        z-index: 99;
    }

    .nav-menu{
        
        display: flex;
        flex-direction: column;
        justify-content:  flex-start;
        background: rgb(237, 237, 237);
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        left: -100%;
        opacity: 0;
        padding: 80px 0 30px 0;
        margin: 0;
        transition: 0.3s ease-in-out;
        border-radius: 13px;
        
    }

    .nav-menu.open{
        left: 0;
        z-index: -1;
        opacity: 1;
        transition: 0.3s ease-in-out;
    }

    .nav-menu a{
        display: block;
        width: 100%;
        font-size: 1.2rem;
        padding: 2rem;
    
    }

    .nav-menu a:hover{
        background-color: rgb(139, 139, 139);
        transition: none;
    
    }

    .menu-icon{
        font-size: 2rem;
    }
    
}

